<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ebest.cloud.mapper.BannersMapper" >
  <resultMap id="BaseResultMap" type="com.ebest.cloud.entity.Banners" >
    <id column="code" property="code" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="region_code" property="regionCode" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="rec_user_code" property="recUserCode" jdbcType="VARCHAR" />
    <result column="rec_time_stamp" property="recTimeStamp" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <!-- used for table query -->
  <resultMap id="CollectionResultMap" type="com.ebest.cloud.entity.Banners" >
    <id column="banner_code" property="code" jdbcType="VARCHAR" />
    <result column="banner_description" property="description" jdbcType="VARCHAR" />
    <result column="banner_level" property="level" jdbcType="INTEGER" />
    <!-- <result column="banner_region_code" property="regionCode" jdbcType="VARCHAR" /> 
    <result column="banner_is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="banner_rec_user_code" property="recUserCode" jdbcType="VARCHAR" />
    <result column="banner_rec_time_stamp" property="recTimeStamp" jdbcType="TIMESTAMP" /> 
    <association column="banner_parent_code" property="parentBanner" select="selectDetailByPrimaryKey" />-->
  </resultMap>
  
  
  <sql id="Base_Column_List" >
  	code, description, parent_code, level, region_code, is_deleted, rec_user_code, rec_time_stamp
  </sql>
  
  <!-- used for table query-->
  <sql id="Collection_Column_List" >
    banner.code banner_code, 
    banner.description banner_description, 
    banner.level banner_level 
  <!--   banner.parent_code banner_parent_code, 
    banner.region_code banner_region_code,  
  	banner.is_deleted banner_is_deleted 
   	banner.rec_user_code banner_rec_user_code, 
    banner.rec_time_stamp banner_rec_time_stamp -->
  </sql>
  
  <!-- select count by primary key -->
  <select id="selectCountByPrimaryKey" resultType="java.lang.Integer" parameterType="java.lang.String"	>
  	select count(*) from banners where code = #{code,jdbcType=VARCHAR} and is_deleted = 0
  </select>
  
  <!-- select banners detail by primary -->
  <select id="selectDetailByPrimaryKey" resultMap="CollectionResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Collection_Column_List" />
    from banners banner
    where code = #{code,jdbcType=VARCHAR}
  </select>  
  	
</mapper>