<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ebest.cloud.mapper.MarketMapper" >
  <resultMap id="BaseResultMap" type="com.ebest.cloud.entity.Market" >
    <id column="code" property="code" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="rec_user_code" property="recUserCode" jdbcType="VARCHAR" />
    <result column="rec_time_stamp" property="recTimeStamp" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <!-- used for table query -->
  <resultMap id="CollectionResultMap" type="com.ebest.cloud.entity.Market" >
    <id column="market_code" property="code" jdbcType="VARCHAR" />
    <result column="market_description" property="description" jdbcType="VARCHAR" />
    <!-- <result column="market_is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="market_rec_user_code" property="recUserCode" jdbcType="VARCHAR" />
    <result column="market_rec_time_stamp" property="recTimeStamp" jdbcType="TIMESTAMP" /> -->
  </resultMap>
  
  <sql id="Base_Column_List" >
    code, description, is_deleted, rec_user_code, rec_time_stamp
  </sql>
  
  <!-- used for table query -->
  <sql id="Collection_Column_List" >
    market.code market_code, 
    market.description market_description
   <!--  market.is_deleted market_is_deleted
    market.rec_user_code market_rec_user_code, 
    market.rec_time_stamp market_rec_time_stamp -->
  </sql>
  
  <!-- select count by primary key -->
  <select id="selectCountByPrimaryKey" resultType="java.lang.Integer" parameterType="java.lang.String"	>
  	select count(*) from market where code = #{code,jdbcType=VARCHAR} and is_deleted = 0
  </select>
  
</mapper>